<span class="todo-count">
  <strong>{{activeCount}}</strong> {{activeCountLabel}}
</span>
<ul class="filters">
    <li class="all">
        <a href="#/">All</a>
    </li>
    <li class="active">
        <a href="#/active">Active</a>
    </li>
    <li class="completed">
        <a href="#/completed">Completed</a>
    </li>
</ul>
<button class="clear-completed" {{#unless completedCount}} class="hclassden" {{/unless}}> Clear completed </button>
